[submodule "px4/PX4-Autopilot"]
	path = px4/PX4-Autopilot
	url = https://github.com/yliu213/PX4-Autopilot-slungload.git

[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/ANCL/px4_msgs.git

[submodule "ros2_ws/src/px4_ros_com"]
	path = ros2_ws/src/px4_ros_com
	url = https://github.com/ANCL/px4_ros_com.git

[submodule "ros2_ws/src/vicon_bridge/vicon_receiver"]
	path = ros2_ws/src/vicon_bridge/vicon_receiver
	url = https://github.com/ANCL/ros2-vicon-receiver.git
